
    /* Custom Css */

    .logo{
        width: 200px;
    }
    .cursor_mark{
        cursor:pointer;
    }
    .text_align{
        text-align:center !important;

    }
    .portfolio_container{
        margin-top:-5%;

    }
    .deleteDetail_btn{
        margin-top:-15%;
    }
    .mob_modelHead{
        background-color:#f05f40;
    }
    .mob_modelFoot{
        background-color:#e3e3e663
    }
   


    .background-trans
    {
      background-color:transparent;
      color:#fff;
    }

    .emailModel-lab
    {
        font-weight:700;
    }
    .emailInput
    {
        margin-bottom:3%;
        /* border-radius: 10%; */
        padding: 2%;
       
        width:80%;
        
    }
    .emailInput:focus {
        border-style: unset;
        
        outline: none !important;
       
        box-shadow: 0 0 10px #719ECE;
    }
   .emailInput-textarea{
        width:100%;
        height: 138px !important;
    }
    /* ##### Start validation style  ##### */
    .mandatorySymbol:before 
    {
	    content: "*";
        color:red; 
    }

    .validationNotify
    {
	    color:red;
    }	
    /* ##### End validation style  ##### */

    /* ### Start hover drop down for contact button###*/
    .dropbtn {
   
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f05f40;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        /* background-color: #f05f40; */
    }
    /* ### End hover drop down for contact button*/

    /* ### Start login modal ### */
    .loginpopUp_header{

        background-color:#e4e4e4;
        font-weight: 100;
        /* font-family: Oswald !important; */
        color: #0e1e239e;
       
    }
    .loginpopUp_headerTitle{
        font-size: 1.1rem !important;
    }
    .loginpopUp_body{
        background-color:#ece9e96b;
        font-weight: 100;
        /* font-family: Oswald !important; */
        color: #0e1e239e;
        
    }
    .loginpopUp_footer{
        background-color:#e4e4e49c;
    }
    .loginpopUp_footerBtn{
        /* font-family: Oswald !important; */
        color: #0e1e239e;
        cursor:pointer;
    }
    /* ### End login modal ### */

    /* ### Start Popup  ### */
   
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Full-width input fields */

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
        margin-left: 58%;
    }



    .container {
        padding: 16px;
        /* background-image: url("sky1.jpg"); */
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */

    .modal-content {
        background-color: transparent;
        /* margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%; */
    }

    /* The Close Button (x) */

    .close {
        position: absolute;
        right: 25px;
        top: 0;
        /* color: #000; */
        font-size: 25px;
        font-weight: bold;
        text-align: right;
        padding: 10px 10px 0 0;
        color: #ff4a3d;
        text-shadow:unset;
        width: 10%;
        background-color:unset

    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */

    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }

    /* Change styles for span and cancel button on extra small screens */

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }

    /* ### Start Popup  ### */