<div class="modal-header loginpopUp_header">
    <h3 class="modal-title loginpopUp_headerTitle">Upload Details</h3>
    <button type="button" class="close" ng-click="$close()">&times;</button>
</div>
<form name="speOff_uploadForm" novalidate>
    <div class="modal-body loginpopUp_body" style="background-image: url(img/greenSky.png);">

        <label class="emailModel-lab">Title
            <span ng-show="speOff_uploadForm.speOff_title.$error.required" class="mandatorySymbol"></span>
        </label>
        <br>
        <input  type="text" placeholder="Enter Your Title" name="speOff_title" ng-model="speOffTitle" ng-required="true">
        <br>
        <span class="validationNotify" ng-show="(speOff_uploadForm.speOff_title.$touched || speOff_uploadForm.$submitted) && speOff_uploadForm.speOff_title.$error.required">Title is required
            <br>
        </span>

        <label class="emailModel-lab">Message
            <span ng-show="speOff_uploadForm.speOff_msg.$error.required" class="mandatorySymbol"></span>
        </label>
        <br>
        <textarea class="emailInput-textarea" auto-resize placeholder="Enter Your Message" name="speOff_msg" ng-model="speOffMsg"
            ng-required="true"></textarea>
        <br>
        <span class="validationNotify" ng-show="(speOff_uploadForm.speOff_msg.$touched || speOff_uploadForm.$submitted) && speOff_uploadForm.speOff_msg.$error.required">Message is required
            <br>
        </span>
        <label class="emailModel-lab">File
            <span ng-show="speOff_uploadForm.myImage.$error.required" class="mandatorySymbol"></span>
        </label>
        <br>
        <input type="file" style="display: inline-block;width:60%;float:left" class="btnCont btnCont-uploadColor" name="myImage"
            value="Upload" image-with-preview file-model="file.upload" ng-model="image" dimensions="height==350;width==650" accept="image/jpeg,image/png"
            ng-required="true">
        <br>
        <span class="validationNotify" ng-show="(speOff_uploadForm.myImage.$touched || speOff_uploadForm.$submitted) && speOff_uploadForm.myImage.$error.required">
            <br>Upload image is required
            <br>
        </span>
        <img ng-show="image.src" ng-src="{{image.src}}" style="width: 50%;margin-top: 2%;" />
        <span class="validationNotify" ng-show="speOff_uploadForm.myImage.$error.dimensions">
            <br>Image height should be equal to 350px! Image width should be equal to 650px!
        </span>
        <br>


    </div>
    <div class="modal-footer loginpopUp_footer">
        <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
        <button type="submit" class="btn btn-default loginpopUp_footerBtn" ng-click="specOffSub(speOff_uploadForm, speOffTitle, speOffMsg, file.upload)">Upload</button>
    </div>
</form>